[submodule "source/bookmarks"]
	path = source/bookmarks
	url = https://github.com/Wxh16144/bookmarks.git
	branch = main
[submodule "source/about"]
	path = source/about
	url = https://github.com/wxh16144/wxh16144.git
	branch = main
[submodule "source/web"]
	path = source/web
	url = https://github.com/Wxh16144/wxh16144.github.io.git
	branch = website
[submodule "gist-viewer"]
	path = gist-viewer
	url = https://github.com/Wxh16144/gist-viewer.git
